/**************************************************************************************/
/****MEDIA QUERIES***************/
/**************************************************************************************/

/**************************************************************************************/
/****BELOW 1084PX***************/
/**************************************************************************************/

@media (max-width: 68em) {
  .hero-img {
    width: 90%;
  }

  .heading-tertiary {
    font-size: 2rem;
  }
}

/**************************************************************************************/
/****BELOW 924PX***************/
/**************************************************************************************/

@media (max-width: 58em) {
  .grid--col-2 {
    grid-template-columns: 1fr;
  }

  .grid--col-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-img-container {
    grid-row: 1;
  }
  .contact-form-container,
  .heading-container {
    padding: 0 1rem;
  }
}

/**************************************************************************************/
/****BELOW 635PX***************/
/**************************************************************************************/

@media (max-width: 39em) {
  .grid--col-3 {
    grid-template-columns: 1fr;
  }
}
